.main-section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__right {
    hr:nth-child(1) {
      margin-bottom: 60px;
    }
    .hr {
      margin-top: 90px;
    }
    h3 {
      font-family: "Ibarra Real Nova";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 42px;
      /* identical to box height, or 105% */
      letter-spacing: -0.357143px;
      color: #33323d;
      margin-bottom: 30px;
    }

    p {
      max-width: 355px;
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      /* or 188% */
      color: #33323d;
      margin-bottom: 35px;
    }

    a {
      text-decoration: none;
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #33323d;
      padding: 17px 32px;
      border: 1px solid #33323d;
      transition: all ease 0.5s;
    }
    a:hover {
      background: #33323d;
      color: white;
    }
  }
}

@media (max-width:768px){
  .main-section2{
    &__left{
      img{
      max-width: 281px;
      min-height: 600px;
      }
    }

    &__right{
      p{
        max-width: 339px;
      }
    }
  }
}

@media (max-width:375px){
  .main-section2{
    flex-direction: column;
    max-width: 311px;
    min-height: 300px;
    margin-bottom: 0px;
    margin-bottom: 115px;
    &__right{
      hr:nth-child(1) {
        margin-bottom: 50x;
        margin-top: 20px;
      }
    }
  }

  
}
