.main-section3 {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 168px;
  h3 {
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    /* or 105% */
    letter-spacing: -0.357143px;
    color: #33323d;
    max-width: 350px;
  }

  a {
    text-decoration: none;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323d;
    border: 1px solid #33323d;
    padding: 17px 32px;
    transition: all ease 0.5s;
  }
  a:hover {
    background: #33323d;
    color: white;
    
  }
}

@media (max-width:768px){
  .main-section3{
    h3{
      max-width: 350px;
      font-size: 40px;
    }
    img{
      max-width: 113px;
    }
  }
}

@media (max-width:375px){
  .main-section3{
    flex-direction: column;
    img{
      display: none;
    }
    h3{
      text-align: center;
      margin-bottom: 40px;
    }
  }
}
